.DS_Store

CNAME
LICENSE
package.json
package-lock.json

*.lock
yarn-error.log
*debug.log

.gitignore
.prettierignore
.eslintignore
.eslintcache
.history

*.svg
*.png
*.jpg
*.gif
*.bmp

dist
docs-dist
.umi
.umi-production
.umi-test
