@prefixCls: rc-slider-captcha;

@primary: #1991fa;
@primary-light: #d1e9fe;
@error: #f57a7a;
@error-light: #fce1e1;
@success: #52ccba;
@success-light: #d2f4ef;

@border-color: #e4e7eb;
@bg-color: #f7f9fa;

@text-color: #45494c;

:root {
  --rcsc-primary: @primary;
  --rcsc-primary-light: @primary-light;
  --rcsc-error: @error;
  --rcsc-error-light: @error-light;
  --rcsc-success: @success;
  --rcsc-success-light: @success-light;
  --rcsc-border-color: @border-color;
  --rcsc-bg-color: @bg-color;
  --rcsc-text-color: @text-color;
}
