@prefixCls: rc-slider-captcha;

// theme
@primary: var(--rcsc-primary, #1991fa);
@primary-light: var(--rcsc-primary-light, #d1e9fe);
@error: var(--rcsc-error, #f57a7a);
@error-light: var(--rcsc-error-light, #fce1e1);
@success: var(--rcsc-success, #52ccba);
@success-light: var(--rcsc-success-light, #d2f4ef);
@border-color: var(--rcsc-border-color, #e4e7eb);
@bg-color: var(--rcsc-bg-color, #f7f9fa);
@text-color: var(--rcsc-text-color, #45494c);
@button-color: var(--rcsc-button-color, #676d73);
@button-bg-color: var(--rcsc-button-bg-color, #fff);
@button-hover-color: var(--rcsc-button-hover-color, #fff);
@panel-border-radius: var(--rcsc-panel-border-radius, 2px);
@control-border-radius: var(--rcsc-control-border-radius, 2px);
