@import '../style/config.less';

.@{prefixCls}-button {
  display: inline-block;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 40px;
  height: 100%;
  padding: 5px 0;
  color: #676d73;
  font-size: 22px;
  line-height: 1;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  cursor: grab;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: background-color, color;
  touch-action: none;

  &-active,
  &-verify,
  // 移动端不需要移入样式
  &-pc:hover,
  &:active {
    color: #fff;
    background-color: var(--rcsc-primary);
  }
  &-active,
  &:active {
    cursor: grabbing;
  }

  &-verify,
  &-verify:active {
    cursor: wait;
  }

  &-error,
  &-error:hover,
  &-error:active {
    color: #fff;
    background-color: var(--rcsc-error);
    cursor: default;
  }

  &-success,
  &-success:hover,
  &-success:active {
    color: #fff;
    background-color: var(--rcsc-success);
    cursor: default;
  }

  &-disabled,
  &-disabled:hover,
  &-disabled:active {
    color: #676d73;
    background-color: #fff;
    cursor: no-drop;
  }
}
