.custom {
  --rcsc-primary: #e91e63;
  --rcsc-primary-light: #f8bbd0;
  --rcsc-panel-border-radius: 10px;
  --rcsc-control-border-radius: 20px;

  // :global {
  //   .rc-slider-captcha-panel-inner {
  //     border-radius: 10px;
  //   }

  //   .rc-slider-captcha-control,
  //   .rc-slider-captcha-control-indicator,
  //   .rc-slider-captcha-control-button {
  //     border-radius: 20px;
  //   }
  // }
}
